<table>
  <tbody>
    <tr>
      <th>Semipublic footer</th>
      <td>
        <input type="text" id="settings_semipublic_default" 
                           value="<%= settings['semipublic_default'] %>" 
                           name="settings[semipublic_default]" >
      </td>
    </tr>
  </tbody>
</table>

