<% if @issue.project.module_enabled?(:semipublic_links) %>
<p><strong>Public Link</strong></p>
<% if @public_link = PublicLink.find_by(:issue_id => @issue.id) %>
        <p style="margin-right:1em;">
        <% if User.current.allowed_to?(:edit_issues, @issue.project) %>
        <% if @public_link.active %>
          <%= button_to "Disable", "/issues/#{@issue.id}/public_link/toggle", :method => :put %>
        <% else %>
          <%= button_to "Enable", "/issues/#{@issue.id}/public_link/toggle", :method => :put %>
          (deactivated)
        <% end %>
        <% end %>
        <%= link_to request.protocol+request.host_with_port+"/view/#{@public_link.url}", "/view/#{@public_link.url}" %>
          </p>
<% else %>
          <%= button_to "Create", "/issues/#{@issue.id}/public_link/new", :method => :post %>

  <% end %>
<% end %>
