<% @public_links.each do |pl| %>
        <p>
        <% issue = Issue.find_by_id(pl.issue_id) %>
        <%= link_to "#{pl.issue_id} #{issue ? issue.subject : "(deleted issue)"}", "/view/#{pl.url}" %>
<%= link_to image_tag('delete.png'), public_link_path(pl), :data =>
{:confirm => l(:text_are_you_sure)}, :method => :delete, :class => 'delete',
        :title => l(:button_delete) %>
        </p>
<% end %>
